
:root{
    --green:#16a085;
    --black:#444;
    --light-color:#111;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
.header img{
    position: relative;
    width: 74px;
    height: 42px;
    top: 13px;
    left: 12px;
}

.box{
    display: inline-block;
    border: 2px solid #33d9b2;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #33d9b2;
    border: 2px solid black;
    cursor: pointer;
}
.box a{
    color: black;
}
.box:hover{
    background-color:rgb(127, 239, 112);
}
.ai{
    color: #33d9b2;
}
.content-1{
    text-align:center;
    position: absolute;
    top: 160px;
    right: 515px;
}

.content-1 h1{
    font-size: 50px;
    text-shadow: var(--text-shadow);
}
.content-1 h2{
    font-size: 37px;
    text-shadow: var(--text-shadow);
}
.content-1 h4{
    font-size: 37px;
    text-shadow: var(--text-shadow);
}
.content-1 img{
    height: 190px;
    width: 197px;
}

.pic img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 260px;
    width: 210px;
}
.reliable{
    text-align: center;
    margin-top: -100px;

}
.reliable h1{
    text-shadow: var(--text-shadow);
}
.reable{
    color: #33d9b2;
}
.reliable-service{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.reliable-service img{
    display: flex;
    margin-left: 130px;
    border-radius: 8px;
}
.reliable-service img:hover{
    transition: scale(2);
    transition: all .2s ease-out;
}
.icon {
    position: relative;
}
.icon-text{
    display: flex;
    padding-bottom: 55px;
    vertical-align: top;
    margin-bottom: 0;
    position: relative;
    transform: translateY(0);
    transition: .4s;
}

.icon-text1{
    display: flex;
    padding-bottom: 55px;
    vertical-align: top;
    margin-bottom: 0;
    position: relative;
    transform: translateY(0);
    transition: .4s;
}
.icon-text2{
    display: flex;
    vertical-align: top;
    margin-bottom: 0;
    position: relative;
    transform: translateY(0);
    transition: .4s;
}
.content-service{
    padding-top: 56px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}

 div{
    display: block;
} 
.reliable p{
    font-size: 20px;
}

.reliable h1{
font-size: 50px;
}
.reliable-image img{
    
height: 500px;
width: 500px;    
}
.icon img{
    height: 60px;
    width: 60px;
}

.icon-style h{
    font-size: 20px;
}

.icon-style p{
    font-size: 15px;
}

.icon-style{
    margin-left: 10px;
}

.discovery button{
    border: 2px solid #0e0f0f;
    border-radius: 5px;
    position: relative;
    padding: 15px 35px;
    background-color: #33d9b2;
    margin-left: 240px;
    font-size: 15px;
    top: 43px;
}

.search {
    float: right;
    margin: 3px;
}

.search1{
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    margin-left: 20px;
    border: 2px solid black;
}

.explore-image img{
    position: relative;
    height: 120px;
    width: 100px;
    margin-left: 720px;
    margin-top: 30px;
}

.tittle{
    text-align: center;
    font-size: large;
}
.tittle h2{
    font-size: 50px;
    margin: 10px;
}

.explore-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.explore-container img{
    height: 315px;
    margin-left: 160px;
    border-radius: 10px;
}

.explore-container img:hover{
    box-shadow: red 15px;
}


.explore-service {
    position: relative;
    overflow: hidden;
    border-radius: 10px;    
}

.tittle-tit{
    color: rgb(251, 248, 248);
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 6px 0;
    font-weight: 700;
    margin: 45px;
    z-index: 2;
    width: 70%;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    opacity: 1;
    background-color: rgb(87 222 120);
    margin-left: 160px;
}

.tittle-tit:hover{
    background-color: black;
}

.about img{
    position: absolute;
    width: 35%;
    height: 42%;
    margin-left: 150px;
    border-radius: 10px;  
}

.about-p{
    text-align: justify;
}

.container{
    position: relative;
}

.slide-image{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('image/bg1.jpg');
}

.upload-container{
    position: relative;
    width: 143px;
}

.file-input {
    display: none; 
}

.upload-button {
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}




div#slider {
  overflow: hidden;
  margin: auto;
  width: 1000%;
  max-width: 1520px;
  max-height: 100%;
  opacity: 0.6;
}

div#slider div {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  font-size: 0;
  animation: 10s slider infinite;
}

div#slider div img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% { left: 0%;}
  20% { left: 0%;}
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%;}
  75% { left: -300%;}
  95% { left: -300%;}
}



.heading{
    text-align: center;
    padding-bottom: 0rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .0rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.header{
    padding:2.5rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #33d9b2;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{
    color: #c0392b;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:red;
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color:var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}



.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}




.videos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.videos .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

.videos .box-container .box .image{
    height: 20rem;
    overflow:hidden;
    border-radius: .5rem;
}

.videos .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.videos .box-container .box:hover .image img{
    transform:scale(1.2);
}

.videos .box-container .box .content{
    padding-top: 1rem;
}

.videos .box-container .box .content .icon{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.videos .box-container .box .content .icon a{
    font-size: 1.4rem;
    color: var(--light-color);
}

.videos .box-container .box .content .icon a:hover{
    color:var(--green);
}

.videos .box-container .box .content .icon a i{
    padding-right: .5rem;
    color: var(--green);
}

.videos .box-container .box .content h3{
    color:var(--black);
    font-size: 3rem;
}

.videos .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding:1rem 0;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:var(--green);
}


/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}



 
@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

} 